*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}


.header{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding-left: 50px;
    background-color: rgb(61, 179, 179);
    text-transform: capitalize;
    color: azure;
    text-shadow: 1px 2px rgb(162, 162, 238);

}

.main_note{
    width:500px;
    padding: 15px 15px 5px 10px;
    margin:20px auto

}

form{
    min-height: 50px;
    color: rgb(19, 16, 11);
    padding: 15px 15px 5px 10px;
    box-shadow: 3px 5px 15px -5px rgba(0,0,0,0.5);
    position: relative;

}



input{
      width:100%;
      line-height: 30px;
      background-color: transparent;
      outline: none;
      font-size: 1.5rem;
      margin: 10px 0;
      font-weight: bold;
      text-transform: capitalize;
}

textarea{
    width: 100%;
    line-height: 30px;
    border: none;
    font-size: 1rem;
    margin: 10px 0;
    outline: none;
    text-transform: capitalize;
}
img{
    margin: 10px;
    border-radius: 20px;
    
}
/* 
this is a main style for dising the butoon */

.MuiButton-root {
    width:30px;
    height: 50px;
    position: absolute;
    bottom: -28px;
    left: 400px;
    cursor: pointer;
    background-color: #fff !important;
    border-radius: 50px !important;
  }

.plus {
    font-size: 45px !important;
    font-weight: 900;
    color: #f4b400;
    cursor: pointer;
    /* z-index: 222; */
    background: transparent;
  }

  .plus:hover{
      color:rgb(17, 194, 194) ;
      
  }
  
.note{
    width: 200px;
    border-radius: 7px;
    margin: 16px;
    background-color: rgb(221, 209, 221);
    float: left;
    box-shadow: 0 2px 5px #ccc;
    text-transform: capitalize;

}

.note h1{
    font-size: 1.5rem;
    margin-bottom: 6px;
}

.note p{
    font-size: 1.rem;
    margin-bottom: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;

}


.note .btn{
    position: relative;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    color: rgb(201, 25, 34);
    

}
.note .btn:hover{
    background-color: rgb(209, 228, 228);
    transform: scale(1.05);
}

.deleteicon{
    width: 0.7em;
    height: 07em;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    padding: 2px;
    padding-bottom: 10px;
    color: #afbcc9;
    background-color: black;
    text-align: center;
    border-radius: 10px;
}
